GameEngine/.vs/GameEngine/v17/Browse.VC.opendb
GameEngine/.vs/GameEngine/FileContentIndex/b7056732-e42e-44c9-8e52-dbd6c453786a.vsidx
GameEngine/.vs/GameEngine/FileContentIndex/ec4700a0-d3a6-4074-9e36-b69d996c99e9.vsidx
